SuperNURDS tutorial Notes checkoff.pages
FRC Programming Tutorial VSC.pdf
*.key
.DS_Store
site/
.venv/
.unotes/templates/title_date.hbs
*.gradle
.gradle/
*.class
*.jar
improvement_analysis/github-classroom-drivetrain/template/bin/*
.claude/settings.local.json
